ddsmoothmenu{
}

.ddsmoothmenu ul{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

.ddsmoothmenu ul li a {
	display: block;
	height: 30px;
	width: 80px;
	margin-left: 10%;
	line-height: 30px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#007100;	
	text-align: center;
	text-decoration: none;
	font-weight: 400%;
	
}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #fff;
	background: url(../images/templatemo_menu_hover.png)
}
